@import "font-awesome";

.rbt-input-main {
  line-height: 3.5;
}

.rbt-menu {
  margin-top: 5px;

  li {
    width: 100%;
    padding: 5px;
    border: 1px solid #3E83FF;
    z-index: 1000;
    opacity: 1;
  }
}
