// sleekr font icon and font family

@import "bases/iconfonts.scss";

// Sleekr Fontfamily
$font-family: "Lato";
$font-weight: 400, 700;
$font-type: regular, bold;

@for $i from 1 through length($font-type) {
  $src: #{"/fonts/lato/lato-"}#{nth($font-type, $i)};
  @font-face {
    font-family : $font-family;
    src         : url('#{$src}.woff');
    src         : url('#{$src}.woff') format('woff'), url('#{$src}.woff2') format('woff2');
    font-style  : normal;
    font-weight : nth($font-weight, $i);
  }
}
