<h2>New whitelisted url</h2>

<%= render "form.html", changeset: @changeset,
                        action: organization_whitelisted_url_path(@conn, :create, @conn.params["organization_id"]) %>

<span><%= link "Back", to: organization_config_path(@conn, :index, @conn.params["organization_id"]) %></span>
