// Style component pill
// Use BLock Element Modifier (https://github.com/dropbox/css-style-guide)

.c-pill{
  border-radius: 16px;
  color: $v-white;
  padding: 3px 10px;
  margin-left: 10px;
  line-height: 16px;

  &--pink { background-color: #EF4D5E; }
  &--blue { background-color: $v-blue; }
  &--grey { background-color: $v-slate; }
  &--dark { background-color: $v-slate; }
  &--green { background-color: $v-green; }
	
	&--more { padding: 3px; }
  &__dots {
  	width: 3px;
  	height: 3px;
  	border-radius: 50%;
  	background-color: $v-white;
  	margin: 1px;
  	vertical-align: middle!important;
  }
}

.c-badge {
  color: $v-white;
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  border-radius: 4px;
  padding: 6px 10px;
  margin-left: 20px;
  text-align: center;
  display: inline-block;
  &-wrapper {
    display: inline-block;
    vertical-align: middle;
  }
  &--purple { background-color: $v-purple; }
  &--grey { background-color: $v-slate; }
  &--green { background-color: $v-green; }
  &--orange { background-color: #F66D02; }
  &--red { background-color: $v-red; }
  &--green { background-color: $v-green; }
}
