// Style component table
// Use BLock Element Modifier (https://github.com/dropbox/css-style-guide)
// Table style

// Table variable
$table-prefix: '.c-table';
$table-compact : 5px 10px;
$table-default-border : 1px solid $v-smoke;
$table-pending-border : 5px solid $v-orange;
$border-radius : 4px;

// Sticky table
%head-sticky {
  @include positionSticky();
  top: 0;
  z-index: 8;
  tr th { @extend .u-bg-white ; }
}
%sidebar-sticky {
  @include positionSticky();
  left: 0;
  z-index: 8;
  float: left;
  background-color: $v-white;
}

@mixin table() {
  table {
    .c-select { line-height: 0; }
    @extend .u-dt ;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    thead, tbody {
      tr {
        th, td {
          @extend .u-tal, .u-vat ;
          border-bottom: $table-default-border;
          line-height: 24px;
          &#{$table-prefix}--checkbox {
            width: 15px !important;
            position: relative;
            input[type="checkbox"] {
              position: relative;
              top: 1px;
              left: 0;
              margin: 4px 0 0;
            }
          }
          &#{$table-prefix}--action {
            min-width: 120px;
            white-space: nowrap;
            @extend .u-tar ;
          }
          &:first-child { padding-left: 0; }
          &:last-child { padding-right: 0;
            @media(max-width: $v-sm){ padding-right: 15px }
          }
          padding: $table-compact;
          > a {
            color: inherit;
            &:hover {
              text-decoration: none;
            }
            &.is-asc {
              .c-sorting i.fa-sort-up {
                color: $v-slate;
              }
            }
            &.is-dsc {
              .c-sorting i.fa-sort-down {
                color: $v-slate;
              }
            }
          }
        }
        th {
          @extend .u-ft-smb, .u-vab ;
          line-height: 29px;
          span:hover,
          span:focus {
            cursor: pointer;
          }
        }
      }
    }
    &.is-table {
      &--custom { display: block; width: auto;
        thead, tbody {
          display: flex;
          flex-wrap: wrap;
          position: relative;
          z-index: 7;
          @extend .u-db ;
          tr {
            @include displayFlex();
            justify-content: left;
      	    flex-wrap: nowrap;
            align-items: flex-end;
            th, td {
              flex: none;
      				width: 200px;
      				position: relative;
      				z-index: 7;
              text-overflow: ellipsis;
              overflow: hidden;
              line-height: 24px;
              &.c-table--checkbox .c-check__checkbox {
                margin: 10px 0 0;
                vertical-align: top;
              }
            }
          }
        }
      }
      &--custompayroll {
        tr {
          th, td {
            &:not(:first-child) { width: 180px; }
          }
        }
      }
    }
  }
}

#{$table-prefix} {
  thead {
    tr {
      th {
        &.c-table--head,
        &.ju-toggle-wc {
            font-weight: 400;
          .c-select {
            position: relative;
            max-width: 200px;
            height: 30px;
            &__input {
              padding: 2px 15px 0;
              line-height: 24px;
              min-height: 24px;
            }
            &__arrow { line-height: 15px; }
            &__value {
              padding-right: 15px;
              line-height: 25px;
            }
          }
        }
      }
    }
  }
  &-shadow {
    position: absolute;
    top: 0;
    width: 8px;
    height: calc(100% - 8px);
    z-index: 9;
    &--left {
      left: 0;
      width: 7px;
      @include linear-gradient(left, #000, 0.1, -10%, $v-white, 0, 100%);
    }
    &--right {
      right: 0;
      @include linear-gradient(left, $v-white, 0, -10%, #000, 0.1, 100%);
    }
    &--header {
      @include box-shadow(0px, 0px, 8px, 0px, #000, 0.1)
    }
    &--sidebar {
      @include box-shadow(0px, 0px, 8px, 0px, #000, 0.1)
    }
  }
  &--wrapper {
    position: relative;
    @media(max-width: $v-sm){
      overflow: hidden;
      border: $table-default-border;
      @include border-radius($border-radius);
    };
  }
  &--pending {
    border-left: $table-pending-border !important;
    @media(min-width: $v-xs) {
      border: $table-default-border;
      border-radius: $border-radius;
    }
    td, th {
      &.c-table--checkbox {
        input[type="checkbox"] { left: auto; }
      }
      &:first-child, &:last-child { padding-left: 10px; padding-right: 10px; }
    }
    tr {
      &:last-of-type {
        td { border-bottom: 0; }
      }
    }
  }
  &--responsive {
    width: 100%;
    overflow: auto;
    position: relative;
    @include scrollbar($v-white, 8px, transparent, 20px, $v-slate);
    table#{$table-prefix} {
      thead, tbody {
        tr {
          th, td { white-space: nowrap;
            @media(min-width: $v-md) {
              white-space: normal;
              line-height: 24px;
              &:not(.c-table--checkbox) {
                min-width: 150px;
              }
              &.c-table--action {
                white-space: nowrap;
              }
            }
            @media(max-width: $v-sm){
              &:first-child { padding-left: 10px; }
            }
            @media(min-width: 1200px) and (max-width: 1280px) {
              &:not(.c-table--checkbox) {
                min-width: 120px;
              }
            }
          }
          th {
            @media(min-width: $v-md) {
              line-height: 29px;
            }
          }
        }
      }
    }
    &.is-sticky {
      @extend .clearfix ;
      .c-table--body{
        tbody tr td {
          &:first-child {
            @extend %sidebar-sticky;

            &.c-table--sidebar-sticky {
              span {
                &:first-child {
                  width: 100px;
                  white-space: normal;
                  padding-right: 10px;
                }
                &:last-child {
                  width: 150px;
                  white-space: normal;
                }
              }
            }
            @include mobile() { position: relative; }
          }
          &#{$table-prefix}--action { padding-right: 10px; height: 42px; }
        }
        thead {
          @extend %head-sticky ;
          tr th {
            &:first-child {
              @extend %sidebar-sticky;
              @include mobile() { position: relative; }

              &.c-table--sidebar-sticky {
                &>span {
                  &:first-child {
                    width: 100px;
                    white-space: normal;
                    padding-right: 10px;
                  }
                  &:last-child {
                    width: 150px;
                    white-space: normal;
                  }
                }
              }
            }
          }
        }
      }
      &-only--header {
        .c-table--body {
          thead { @extend %head-sticky ;
            th { height: 42px; }
          }
          tbody tr td#{$table-prefix}--action { padding-right: 10px; height: 42px; }
        }
        .c-check__checkbox { margin: 4px 0 0 !important ; }
      }
    }
  }
  &__hover {
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 9;
    border: 1px solid $v-smoke;
    overflow: hidden;
    @include border-radius(4px);
    @include transition(all .4s);
    @extend .u-p-10, .u-bg-white, .u-tac ;
    &--plan {
      a {
        &:not(:first-child) {
          .p-shift__card {
            @extend .u-mt-10 ;
          }
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
    &--inner {
      padding: 10px 10px 0;
    }
    &.is-bottom {
      .c-table__hover--plan {
        margin-top: 26px;
      }
      .c-table__hover--inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px;
      }
    }
  }
}

@include table();

.c-table {
  &--payroll {
    display: flex;
    flex-wrap: wrap;
    .c-table {
      &__left, &__right {
        width: 50%;
        position: relative;
        padding-bottom: 54px;
      }
      &__left {
        border-right: 1px solid $v-ui-border;
      }
      &__title {
        padding: 15px;
        border-top: 1px solid $v-ui-border;
        border-bottom: 1px solid $v-ui-border;
      }
      &__row {
        padding: 10px 15px;
      }
      &__total {
        padding: 15px;
        border-top: 1px solid $v-ui-border;
        border-bottom: 1px solid $v-ui-border;
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      &__grandtotal {
        width: 50%;
        margin-left: 50%;
      }
    }
  }
  @include mobile {
    &--payroll {
      display: block;

      .c-table {
        &__left, &__right {
          width: 100%;
          border-right: none;
        }
        &__grandtotal {
          width: 100%;
          margin: 0;
        }
      }
    }
  }
  @include mobilexs {
    &--payroll {
      .c-table {
        &__row {
          > * {
            float: none!important;
            &:first-child {
              padding-bottom: 10px;
            }
          }
        }
        &__grandtotal-bank { margin-bottom: 10px; }
      }
    }
  }
}

.c-sorting {
  font-size: 12px;
  margin-left: 10px;
  @extend .u-cl-smoke ;
  &.is-active { @extend .u-cl-slate ; }
  i.fa {
    display: block;
    line-height: 0;
    // @extend .u-cl-smoke ;
    cursor: pointer;
    &.is-active { @extend .u-cl-slate ; }
  }
}
