<section class="hero">
  <div class="text">
    <h3 class="bold">Dockup</h3>
    Throwaway staging environments for every Git branch.
  </div>

  <div class="text-center">
    <%= link "Login with Google", to: auth_path(@conn, :request, "google"), class: "btn home-login" %>
  </div>

</section>
