// Sleekr color variables
$v-green              : #009F61;
$v-green-light        : #2EB07D;
$v-green-dark         : #008350;

$v-purple             : #7A60E9;
$v-purple-dark        : #644FBF;
$v-purple-light       : #927CED;

$v-blue               : #3E83FF;
$v-blue-dark          : #336CD1;
$v-blue-light         : #6199FF;

$v-orange             : #F96D01;
$v-orange-light       : #FA872F;
$v-orange-dark        : #CC5A01;

$v-red                : #DE2F38;
$v-red-light          : #E4545C;
$v-red-dark           : #B6272E;

$v-yellow             : #FFF4B5;
$v-yellow-light       : #FFF6C2;
$v-yellow-dark        : #D1C895;


$v-black              : #212121;
$v-white              : #FFFFFF;
$v-slate              : #777777;
$v-smoke              : #E2E2E2;
$v-snow               : #F9F9F9;
$v-snow-darker        : #F5F5F5;

// Sleekr platform UI color
$v-ui-background      : #F2F4F7;
$v-ui-border          : #E7EBF2;
$v-ui-red             : #D13135;
$v-ui-red-dark        : #C31824;
$v-ui-chart-blue      : #2572B4;
$v-ui-chart-aqua      : #25B7A2;

// Sleekr calendar color
$v-cal-blue						: #AAE5F3;
$v-cal-blue-border		: #85B6C4;
$v-cal-green					: #AAF3BE;
$v-cal-green-border		: #88C197;
$v-cal-yellow					: #E9F1A8;
$v-cal-yellow-border	: #B9C185;
$v-cal-orange					: #F1CBA7;
$v-cal-orange-border	: #C1A286;
$v-cal-red						: #F2A8A9;
$v-cal-red-border			: #C18482;
$v-cal-purple					: #AFA7F0;
$v-cal-purple-border	: #8B83BF;
$v-cal-lavender				: #DCA8F3;
$v-cal-lavender-border: #AF84BC;
$v-cal-grey						: #EBEBEB;
$v-cal-grey-border		: #BBBBBB;

// Font
$v-lato            : "Lato", Helvetica, Arial, sans-serif !default;
$core-theme						: compact;

// Breakpoints
$v-xxs  : 554px;
$v-xs   : 767px;
$v-sm   : 992px;
$v-md   : 1200px;
$v-lg   : 1400px;
$v-xl   : 1600px;
$v-xxl  : 2100px;
