@import "Typeahead";

.remove-lr-border {
  border-left: none;
  border-right: none;
}

.service-urls > * {
  margin: 5px 10px;
}

.deployment-status {
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}

span.error {
  font-size: 12px;
  color: red;
}

input.error {
  border-color: red;

  &:focus {
    border-color: red;
    box-shadow: none;
  }
}

.disabled {
  pointer-events: none;
}

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.notification {
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  position: relative;
  margin-bottom: 1.5rem;
}

.notification.is-primary {
  background-color: #209cee;
  color: #fff;
}
@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.is-loading::after,
.loader {
  -webkit-animation: spinAround 500ms infinite linear;
  animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  margin-left: 1rem;
  display: inline-block;
  height: 1em;
  position: relative;
  width: 1em;
}
