@import "Typeahead";

.remove-lr-border {
  border-left: none;
  border-right: none;
}

.service-urls > * {
  margin: 5px 10px;
}

.deployment-status {
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}

span.error {
  font-size: 12px;
  color: red;
}

input.error {
  border-color: red;

  &:focus {
    border-color: red;
    box-shadow: none;
  }
}

.disabled {
  pointer-events: none;
}