@import "Typeahead";

.remove-lr-border {
  border-left: none;
  border-right: none;
}

.service-urls > * {
  margin: 5px 10px;
}

.deployment-status {
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}
