<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dockup</title>
    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
      <div class="container">
        <a class="navbar-brand" href="/">Dockup</a>
        <div class="navbar-nav">
          <%= link("Recent Deployments", to: deployment_path(@conn, :index), class: "nav-item nav-link") %>

          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Settings</a>
            <div class="dropdown-menu">
              <%= for organization <- assigns[:current_user_orgs] do %>
                <%= link(organization.name, to: organization_config_path(@conn, :index, organization), class: "dropdown-item")%>
              <% end %>
            </div>
          </div>

          <%= link("Logout", to: auth_path(@conn, :delete), method: :delete, class: "nav-item nav-link") %>
        </div>
      </div>
    </nav>

    <div class="container dockup-body">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
  </body>
</html>
