<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dockup</title>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header class="c-header--dockup is-auto">
      <div class="c-container">
        <div class="c-row">
          <div class="c-header--dockup-logo">
            <%= link to: "/", style: "text-decoration: none; color: #212121;" do %>
              <h1 class="u-mb-0"> Dockup </h1>
            <% end %>
          </div>
          <div class="c-header--dockup-menu">
            <span>
              <%= link("Configure", to: config_path(@conn, :index)) %>
            </span>
            <span class="u-ml-30">
              <%= link("Logs", to: dockup_log_url(), target: "_blank")%>
            </span>
          </div>
        </div>
      </div>
    </header>

    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
